[Unit]
Description=Description goes here

[Service]
ExecStart=/path/to/script
StandardOutput=null

[Install]
WantedBy=multi-user.target
Alias=Filname.service
